

.container p {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.nested p {
  text-align: center;
  margin-top: 150px;
}

.container [class*="col-"] [class*="col-"]{
  border: 3px solid white;
  height: 100%;
  background-color: #f77676;
